/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	outline: none;
	vertical-align: baseline;
	box-sizing: border-box;
}
input, select{
	outline: none;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: open sans;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
/*Topbar Style*/
.topbar{
  display: inline-block;
  width: 100%;
  height: 30px;
  float: left;
  background-color: #0084ff;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}
.topleft{
  float: left;
}
.topcenter{
  float: left;
  text-align: center;
  margin: 0 25px;
}
.topright{
  float: right;
}
.topbar ul{
  line-height: 30px;
}
.topbar ul li{
  list-style-type: none;
  display: inline-block;
  position: relative;
}
.topbar ul li a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 0 5px;
  width: 100%;
  text-align: center;
  transition: 30ms;
}
.topbar ul li a:hover{
  color: #000;
}
/*Submenu Style*/
.topbar ul li ul{
  position: absolute;
  display: none;
  z-index: 999;
  background-color: #0084ff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #0074ec;
}
.topbar ul li ul li{
  width: 100%;
}
.topbar ul li ul li a{
  padding: 0;
}
.topbar ul li:hover ul{
	/*display: block;*/
}
.topbar ul li ul.myprofile-dropdown{
  min-width: 120px;
}
/*Header Style*/
.header{
  display: inline-block;
  width: 100%;
  float: left;
  padding: 15px 0;
  border-bottom: 1px solid #00000010;
}
.header .logo{
  float: left;
  width: 22%;
}
.header .searchbar{
  width: 45%;
  float: left;
}
.searchbar .searchField{
  width: 100%;
  height: 35px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid gainsboro;
}
.header .headerright{
  float: right;
}
.header .headerright ul li{
  display: inline-block;
  padding: 10px 0;
}
.header .headerright ul li a{
  text-decoration: none;
  margin-left: 10px;
  color: #333;
}
.header .headerright ul li .signBtn{
  padding: 8px 13px;
  border-radius: 50px;
  background-color: #0084ff;
  color: #fff;
  font-weight: 600;
}
/*Categories Menu*/
.productContent{
	display: inline-block;
	width: 100%;
	float: left;
	padding: 15px 0;
	position: relative;
}
.productContent .productCategories{
	width: 20%;
	float: left;
	padding: 7px 15px;
	border-radius: 8px;
	border: 1px solid #dfdcdc;
}
.productContent .productCategories ul li{
	display: inline-block;
	float: left;
	width: 100%;
	margin: 5px 0 10px;
}
.productContent .productCategories ul li a i.fa-caret-right{
	margin-left: 5px;
	color: #0074ec;
	vertical-align: middle;
	margin-top: -1px;
}
.productContent .productCategories ul li a{
	display: inline-block;
	padding: 5px 0;
	text-decoration: none;
	color: #333;
	font-weight: 600;
}
.megamenu{
	position: absolute;
	width: 70.2%;
	background-color: #fff;
	border: 1px solid gainsboro;
	left: 24.8%;
	top: 2.5%;
	min-height: 372px;
	border-radius: 8px;
	z-index: 9999;
	display: none;
}
.productContent .productCategories ul li ul{
	max-width: 22%;
	float: left;
	padding: 15px;
}
.productContent .productCategories ul li ul h3{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: #333;
	margin-bottom: 10px;
}
.productContent .productCategories ul li ul li{
	margin: 0;
	display: inline-block;
	float: left;
}
.productContent .productCategories ul li ul li a{
	color: #333;
	font-size: 14px;
	font-weight: 500;
}
.productContent .productCategories ul li ul li a:hover{
	color: #ffdd05;
}
.productContent .productCategories ul li:hover .megamenu{
	/*display: block;*/
}
